/*
Semantic grid
*/

#content, #colophon {
//  .make-row();
}

#primary {
//  .make-sm-column(12);
//  .make-md-column(9);
//  .make-lg-column(8);
}
#secondary {
//  .make-sm-column(12);
//  .make-md-column(3);
//  .make-lg-column(3);
//  .make-lg-column-push(1);
}
footer .site-info {
//  .make-lg-column(12);
}

/*
From the original _s style.css
*/

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}
/*
  Alignment (necessary for caption shortcode content), Thumnbails
*/
.alignleft {
  display: inline;
  float: left;
  max-width: 100%;
  margin: 0 @grid-gutter-width @line-height-computed 0;
}
.alignright {
  display: inline;
  float: right;
  max-width: 100%;
  margin: 0 0 @line-height-computed @grid-gutter-width;
}
.aligncenter,
.aligncenter .caption,
.thumbnail > a > img {
  clear: both;
  display: block;
  margin: 0 auto @line-height-computed;
  max-width: 100%;
  text-align: center;
}
.thumbnail > a > img,
.aligncenter .caption {
  margin: 0 auto;
}
.alignnone  {
  clear: both;
  max-width: 100%;
}

@media (max-width: 767px) {
  .alignleft,
  .alignright {
    float: none;
    .aligncenter;
  }
}

/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
  margin: 0 0 1.5em;
  overflow: hidden;
}
[class*="navigation"] .nav-previous {
  float: left;
  width: 50%;
}
[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

// Multi-level dropdowns
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -(@border-radius-base + 2);
  margin-left: -@border-radius-base;
  border-radius: @border-radius-base;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}


/*
Comment form
*/
#commentform
{
  .form-horizontal;
}
#commentform code
{
  display: block;
  white-space: normal;
}
#commentform p.form-submit
{
  .make-sm-column(9);
  .make-sm-column-offset(3);
}
#commentform #submit
{
  .btn;
}

/*
Entry Footer
*/
.entry-footer {
  > span {
	display: block;
  }
}
