// This is the mixin
.highlight(@backgroundColor, @textColor) {
  ::selection, -moz::selection {
    background: @backgroundColor;
    color: @textColor;
  }
}

// This is how you use it

.highlight(@yourColor, @white);
