//#contacto .wpcf7-form .form-control{
//    border: 0;
//    border-radius: 0;
//    box-shadow: none;
//    border-left: 2px solid #ABABAB;
//    border-bottom: 2px solid #ABABAB;
//    font-size: 20px;
//    font-weight: 300;
//    letter-spacing: -0.5px;
//}
//#contacto select.form-control{
//    padding-top: 2px;
//    font-weight: 400;
//}
//#contacto .texto-contacto{
//    @media (max-width: @grid-float-breakpoint){
//        text-align: center;
//    }
//}
//#contacto .entry-title{
//    color: #0B8427;
//    font-weight: 700;
//    font-family: "Playfair Display", serif;
//    @media (max-width: @grid-float-breakpoint){
//        text-align: center;
//    }
//}
//#contacto .entry-content{
//    @media (max-width: @grid-float-breakpoint){
//        text-align: center;
//    }
//}
//
//
#contacto .titulo-seccion{
    margin-top: 0;
}
#contacto .wpcf7-form {

}
#contacto .wpcf7-form .form-group.comentario label{
        margin-left: 0;
}
#contacto .wpcf7-form button.btn-subir{
            color: #FFF;
    background-color: #0B8427;
    border-color: #FFF;
    border-radius: 0;
}
#contacto .wpcf7-form .form-group{
    label{
        margin-left: 47px;
        font-size: 16px;
        color: #444;
    }
}
#contacto .wpcf7-form .input-group{
    width: 100%;
    .input-group-addon{
        padding: 0;
        padding-right: 2px;
        background-color: transparent;
        border: 0;
        vertical-align: top;
        img {
            width: 45px;
        }
    }
    .form-control{
        border-radius:0;
        margin: 4px 0 4px 2px;

    }
}

#contacto .wpcf7-response-output, .wpcf7-display-none.wpcf7-spam-blocked, .wpcf7-mail-sent-ok {
        display: inline-table;
    text-align: center;
    width: 100%;
}
