#laEmpresa .texto-seccion{
    text-align: justify;
    @media (min-width: @grid-float-breakpoint){
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
    p{
        font-size: 14px;
        font-weight: 400;
    }
}

