#establecimientos .titulo-seccion{
    margin-top: 40px
}
#establecimientos .texto-seccion{
    text-align: justify;
    p{
        font-size: 16px;
        font-weight: 300;
    }
    margin-bottom: 25px;
}


#establecimientos .papel{
//    background: url("./images/utils/renglon.png") repeat;
    img{
        padding: 10px 25px;

    }
}
