#familia .titulo-seccion{
    margin-top: 0;
}

#familia .texto-seccion,{
    text-align: justify;
    font-size:14px;
    margin-bottom: 40px;
    font-weight: 400;
}
#familia .deco{
    width: 70px;
}
#familia .foto-familia{
    max-width: 300px;
    margin: 0 auto 10px;
}
#familia .foto-banner,{
    margin-top: 40px;
}
#familia .epigrafe,{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
