.bg-inicio{
            background-position: center center;
    background-size: cover;
}


.bg-inicio header.header{
    background: none;
    padding-bottom: 0;
    .navbar-default{
        margin-bottom: 0;
    }
}

#fila1 .bloque, #fila3 .bloque{
    background-color: #FFF;
    padding: 10px 20px;
    //    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
    //    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
    //    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
    @media (max-width: @screen-sm-max){
        margin-bottom: 10px;
    }
}
#fila2 .bloque{
    padding: 10px;
}

.bloque h3 {
    margin-top: 5px;
    font-family: "Playfair Display", serif;
    color: #0B8427;
    font-size: 22px;
}
#fila1 .bloque .novedad-preview{
    h4{
        margin-top: 15px;
        margin-bottom: 0;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 16px;
        color: #000;
    }
}

#fila1 .bloque .novedad-preview, #fila2 .bloque.descripcion, #fila3 .bloque{
     p{
        text-align: justify;
        margin-bottom: 6px;
        line-height: 18px;
        font-size: 14px;
        font-weight: 400;

    }
    a{
        color: #006b25;
        font-size: 15px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
    }
}


#fila2 .bloque.descripcion, #fila3 .bloque{
    h4{
        margin-top: 5px;
        font-family: "Playfair Display", serif;
        font-weight: 700;
    }
}

#fila1{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 0;
}

#fila2 .row{
    margin: 30px 0;
    //    margin-top: 20px;
    //    margin-bottom: 20px;
    background-color: #FFF;
    //    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
    //    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
    //    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
    .bloque.descripcion p{
        line-height: 19px;
        font-size: 14px;
    }
}


#fila2 .foto-familiar{
    padding: 0;
    img{
        max-width: 100%;
    }

}

#fila3{
    padding: 10px 0 40px;
    .bloque{
        border: 1px solid #a2a2a2;
        background-color: transparent;
        h5{
//            font-weight: 100;
            font-family: "Playfair Display", serif;
            color: #0B8427;
            text-transform: uppercase;
        }
        p{
            color:#555555;
            font-size:13px;
        }
        appearance: none;
    }
}

#fila3 .bloque .img-container{
    height: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 10px;
    img.cropped {
        width: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
