* {
    margin: 0;
}
html, body {
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    //    letter-spacing: -0.5px;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -260px; /* the bottom margin is the negative value of the footer's height */
    @media (max-width: @grid-float-breakpoint) {
        margin: 0 auto -400px;
    }
}
.footer, .push {
    height: 260px; /* .push must be the same height as .footer */
    @media (max-width: @grid-float-breakpoint) {
        height: 400px;
    }
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/
html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body{
    background-color: #F5F5F5;
    color: #555555;
}

//=======================================

//============= HEADER

.header{
    padding-bottom: 15px;
}
.bg{
    background-position: center center;
    background-size: cover;
}

.navbar-default{
    @media (min-width: @grid-float-breakpoint) {
        background-color: rgba(255, 255, 255, 0.80);
    }
    background-color: transparent;
    border: 0;
    margin-bottom: 10px;
    color: #006b25;
    border-radius: 0;
    font-family: "Playfair Display", serif;
}

.navbar-default .navbar-collapse{
    @media (max-width: @grid-float-breakpoint) {
        background-color: rgba(255, 255, 255, 0.80);
    }
}
.navbar-default .navbar-nav > li > a{
    color: #006b25;
}

.nav > li > a{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    letter-spacing: normal;
    text-transform: capitalize;
}
.navbar-header {
//        position: absolute;
//    right: 0;
    .navbar-toggle{
    border-color: #fff;
    color: #FFF;
    letter-spacing: -0.5px;
    font-family: "Open Sans", sans-serif;
    }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #FFF;
    background-color: rgba(11, 132, 39, 0.8);
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    @media (max-width: @grid-float-breakpoint) {
        width: 100%;
    }
}


.navbar .navbar-collapse {
    text-align: center;
    @media (max-width: @grid-float-breakpoint) {
        padding: 0;
    }
}

.header img#logo{
    max-height: 160px;
    margin: 50px 0 20px;
    @media (max-width: @grid-float-breakpoint) {
        margin: 50px auto 20px;
    }
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    @media (max-width: @grid-float-breakpoint) {
        width: 100%;
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
    @media ( max-width: @grid-float-breakpoint) {
        background-color: rgba(11, 132, 39, 0.8);
        color: #FFF;
    }
}
.navbar .navbar-nav .dropdown.open{
    @media ( max-width: @grid-float-breakpoint) {
        border-bottom: 1px solid rgba(11, 132, 39, 0.41);
    }
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #006b25;
}
.navbar .navbar-nav .dropdown-menu{
    border-top:0;
    background-color: rgba(255, 255, 255, 0.95);
    li{
        font-size: 15px;
    }
    li.titulo{
        padding:3px 20px;
        color: #000
    }
    li a:hover,li a:focus{
        color: #FFF;
        background-color: rgba(11, 132, 39, 0.8);
    }
    @media (max-width: @grid-float-breakpoint) {
        text-align: center;
        li.titulo{
            padding-left: 8px;
            padding-right: 8px;
        }
        li a{
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

//============= PIE

.footer{
    background-color: #A09FA0;
    color: #FFF;
    font-family: "Playfair Display", serif;
    padding-top: 25px;
}

//.footer img#footer-logo{
//
//}
.footer .img-container{
    max-width: 200px;
    margin: 0 auto 5px;
}

.footer ul.primer-nivel li,
.footer ul.segundo-nivel li {
    list-style:none
}

.footer ul.primer-nivel li{
    @media (min-width: @grid-float-breakpoint) {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding: 3px 0;
    }
}

.footer ul.primer-nivel li:last-child {
    @media (min-width: @grid-float-breakpoint) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
}

.footer ul.segundo-nivel li{
    border-top: none;
    padding: 0;
}

.footer ul.segundo-nivel li:last-child {
    border-bottom: none;
}

.footer ul.primer-nivel li a{
    font-size: 14px;
    color: #FFF;
}

.footer ul.segundo-nivel{
    padding-left: 10px;
}
.footer ul.primer-nivel{
    padding-left: 10px;
}
.footer ul.segundo-nivel li a{
    font-size: 12px;
    color: #3A3A3A;
    font-weight: 400;
}

.footer .info-footer{
    font-family: "Playfair Display", serif;
    color: #4E4E4E;
    text-transform: capitalize;
    margin-bottom: 15px;
}


