
.mlab-modal-dialog{
//    padding: 10px;
    h1, h2, h3, h4, h5, h6{
        font-weight: 700;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        color: #0B8427;
    }
    a{color: #0B8427;}
//    margin-top: -100px;
//    top: 18%;
//    border: 1px solid #CCC;
    img{
        height: auto;
    }
}

.mlab-modal-body{
    padding: 5px 10px 5px
}
.mlab-modal-footer{
    margin-top: 0;
    padding: 10px;
}
.mlab-modal-header{
    margin-top: 0;
    padding: 10px;
}
