.container-body{
    padding: 40px 30px;
    background-color: #FFF;
    margin-top: 20px;
    margin-bottom: 30px;
//    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
//    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
//    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
}

.container-body .titulo-seccion{
    margin-top: -50px;
    margin-bottom: 50px;
    h1{
        color: #0b8427;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        font-size: 40px;
    }
    @media (max-width: @grid-float-breakpoint){
        margin-top: 0px;
        margin-bottom: 50px;
    }
}

.lowcase{
    font-size: 70%;
}

.firstcharacter {
    float: left;
    color: #066c31;
    font-size: 61px;
    line-height: 55px;
//    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: "Playfair Display", serif;
}

.post h1{
    font-family: "Playfair Display", serif;
    color: #0b8427;
}
.post .entry-content{
    font-weight: 400;
}
