#ventas .bloque-venta{
    background-color: #FFF;
    margin: 10px 0 5px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
}
#ventas .bloque-venta .img-container{
    height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    &.remate{
        height: 100px;
    }
    img.cropped {
        width: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

#ventas .bloque-venta{
    h1{
        text-transform: uppercase;
        padding: 20px 0;
        color: #0B8427;
        font-weight: 700;
        font-family: "Playfair Display", serif;
    }
    .titulo-remate {
        margin-top: 0;
        padding: 20px;
        text-transform: capitalize;
        padding: 20px;
        font-weight: 300;
        font-family: "Playfair Display", serif;
        a{
            color: #0B8427;
        }
    }
    .texto-intro{
        padding:40px;
    }
    h4.contactanos{
        padding: 0 40px 40px;
        a{color: #0B8427;}
        font-weight: 700;
        font-family: "Playfair Display", serif;
    }
}

#ventas-particulares{
    .titulo-seccion{
        margin-top: 30px;
    }
    .texto-seccion{
        text-align: justify;
        margin: 0 10% 30px;
    }
    .posicion-contactos{
        color: #0B8427;
        font-weight: 700;
        font-size: 20.5px;
        font-family: "Playfair Display", serif;
        @media (max-width: @grid-float-breakpoint){
            text-align: center;
        }
    }
    .contactos{
        ul{
            padding-left: 0;
            list-style: none;
            @media (max-width: @grid-float-breakpoint){
                padding: 0;
            }
        }
        ul li{
            color: #000;
            margin: 10px;
            h4{
                font-family: "Playfair Display", serif;
                font-size: 16px;
            }
            @media (max-width: @grid-float-breakpoint){
                text-align: center;
                padding-left: 0;
                //                border-left:0;
            }
        }
    }
    .contactos.santa-fe ul li{
        border: 6px solid transparent;
        padding: 15px;
        -webkit-border-image: url('./images/utils/border-ventas-sf.png') 10 stretch; /* Safari 3.1-5 */
        -o-border-image: url('./images/utils/border-ventas-sf.png') 10 stretch; /* Opera 11-12.1 */
        //        border-image: url('./images/utils/border-ventas-sf.png') 10 stretch;
    }
    .contactos.buenos-aires ul li{
        border: 6px solid transparent;
        padding: 15px;
        -webkit-border-image: url('./images/utils/border-ventas-ba.png') 10 stretch; /* Safari 3.1-5 */
        -o-border-image: url('./images/utils/border-ventas-ba.png') 10 stretch; /* Opera 11-12.1 */
        //        border-image: url('./images/utils/border-ventas-ba.png') 10 stretch;
    }
}

.remate{
    .titulo-remate{
        .primera-parte{
            font-size: 30px;
        }
        .segunda-parte{
            font-size: 45px;
        }
        color: #0B8427;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        margin: 30px 0 30px;
        text-transform: uppercase;
        line-height: 26px;
    }
    .entry-title{
        color: #0B8427;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        margin: 30px 0 30px;
    }
    .entry-content{
        margin:20px 0 10px;
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
        line-height: 17px;
    }
    .otros-remates{
        @media (max-width: @grid-float-breakpoint){
            text-align: center;

        }
    }
    .otros-remates ul{
        a{
            color: #0B8427;
        }
        li.current_page_item a{
            color: #0a7c9f;
        }

    }
    #wpgmza_map{
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
        -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.40);
    }
    .btn-default{
        border: 1px solid #0B8427;
        padding: 1px 3px;
        font-size: 12px;
        border-radius: 0;
    }
    ul li.page_item{
        font-family: "Playfair Display", serif;
        list-style-image: url('./images/utils/li-deco.png');
        list-style-type: upper-roman;
        padding: 10px 0;
        font-weight: 300;
        font-size: 16px;
    }

}
